<!doctype html>
<html lang="en">
  <head>
    <%- include("templates/head.html", { title: "Menu Diving WTF | Chord Progression Help",
                               description: "Help Knowing Which Chords to Go to from Which",
                             }) %>
    <link rel="icon" href="<%= root_url %>/assets/icon_flowchart.png" type="image/png">
    <link rel="manifest" href="<%= root_url %>/chord-changes-manifest.json">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
  </head>
  <body class="ff-sans">
    <header class="purple-700 pt-2 bg-purple-400">
      <div class="mh-auto w-90 w-50-ns flex items-center gap-3 mb-2">
        <h1 class="ma-0 f-6 lh-title tc">Menu Diving WTF</h1>
      </div>
      <%- include("templates/nav.html") %>
    </header>
    <main class="bg-yellow-800 purple-100">
      <section class="mh-auto w-90 w-50-ns ff-sans pv-3">
        <h2 class="ma-0 f-5 mt-1 lh-title tc">Chord Progression Help</h2>
        <p class="p">
          Yes, I know you can go from wherever to wherever, but sometimes you need to have something conventional to start from.
        </p>
      </section>
      <section class="bg-purple-300 purple-800">
        <div class="mh-auto w-100 w-50-ns ff-sans pv-3">
        <h3 class="f-4 ma-0 tc">Major</h3>
        <synth-key-selector class="dn xflex flex-wrap justify-start items-center gap-2 mt-2 mh-3">
            <button data-key="A"  class="ba bc-purple-600 bg-purple-800 yellow-200 br-3 f-2 dib pv-2 w-3">A</button>
            <button data-key="A#" class="ba bc-purple-600 bg-purple-800 yellow-200 br-3 f-2 dib pv-2 w-3">A<sup>&sharp;</sup></button>
            <button data-key="Bb" class="ba bc-purple-600 bg-purple-800 yellow-200 br-3 f-2 dib pv-2 w-3">B<sup>&flat;</sup></button>
            <button data-key="B"  class="ba bc-purple-600 bg-purple-800 yellow-200 br-3 f-2 dib pv-2 w-3">B</button>
            <button data-key="C"  class="ba bc-purple-600 bg-purple-800 yellow-200 br-3 f-2 dib pv-2 w-3">C</button>
            <button data-key="C#" class="ba bc-purple-600 bg-purple-800 yellow-200 br-3 f-2 dib pv-2 w-3">C<sup>&sharp;</sup></button>
            <button data-key="Db" class="ba bc-purple-600 bg-purple-800 yellow-200 br-3 f-2 dib pv-2 w-3">D<sup>&flat;</sup></button>
            <button data-key="D"  class="ba bc-purple-600 bg-purple-800 yellow-200 br-3 f-2 dib pv-2 w-3">D</button>
            <button data-key="D#" class="ba bc-purple-600 bg-purple-800 yellow-200 br-3 f-2 dib pv-2 w-3">D<sup>&sharp;</sup></button>
            <button data-key="Eb" class="ba bc-purple-600 bg-purple-800 yellow-200 br-3 f-2 dib pv-2 w-3">E<sup>&flat;</sup></button>
            <button data-key="E"  class="ba bc-purple-600 bg-purple-800 yellow-200 br-3 f-2 dib pv-2 w-3">E</button>
            <button data-key="F"  class="ba bc-purple-600 bg-purple-800 yellow-200 br-3 f-2 dib pv-2 w-3">F</button>
            <button data-key="F#" class="ba bc-purple-600 bg-purple-800 yellow-200 br-3 f-2 dib pv-2 w-3">F<sup>&sharp;</sup></button>
            <button data-key="Gb" class="ba bc-purple-600 bg-purple-800 yellow-200 br-3 f-2 dib pv-2 w-3">G<sup>&flat;</sup></button>
            <button data-key="G"  class="ba bc-purple-600 bg-purple-800 yellow-200 br-3 f-2 dib pv-2 w-3">G</button>
            <button data-key="G#" class="ba bc-purple-600 bg-purple-800 yellow-200 br-3 f-2 dib pv-2 w-3">G<sup>&sharp;</sup></button>
        </synth-key-selector>
        <pre class="ph-2 pt-4 pb-3 inset-shadow-1 bg-yellow-900 yellow-100 ff-mono w-100 fw-b" id="major"><span id="iii">iii</span> &rarr; <span id="iv">vi</span> &rarr; &#9121; <span id="ii">ii</span> &#9124; &rarr; &#9121; <span id="V">V </span>    &#9124; &rarr; <span id="I">I </span> &rarr; *
 &uarr;         &#9123; <span id="IV">IV</span> &#9126;   &#9123; <span id="viio">vii&deg;</span>&boxdl; &#9126;
 &#9492;&HorizontalLine;&HorizontalLine;&HorizontalLine;&HorizontalLine;&HorizontalLine;&HorizontalLine;&HorizontalLine;&HorizontalLine;&HorizontalLine;&HorizontalLine;&HorizontalLine;&HorizontalLine;&HorizontalLine;&HorizontalLine;&HorizontalLine;&HorizontalLine;&HorizontalLine;&HorizontalLine;&HorizontalLine;&HorizontalLine;&HorizontalLine;&HorizontalLine;&HorizontalLine;&HorizontalLine;&#9496;</pre>
      </section>
      <section class="bg-purple-800 purple-300">
        <div class="mh-auto w-100 w-50-ns ff-sans pv-3">
        <h3 class="f-4 ma-0 tc">minor</h3>
        <pre class="ph-2 pt-4 pb-3 shadow-1 bg-yellow-900 yellow-100 ff-mono w-100 fw-b" id="major">VII &rarr; III &rarr; VI &rarr; &#9121;ii&deg;&#9124; &rarr; &#9121;V   &#9124; &rarr; i &rarr; *
 &uarr;               &#9123;iv&boxdl;&#9126;   &#9123;vii&deg;&#9126;
 &#9492;&HorizontalLine;&HorizontalLine;&HorizontalLine;&HorizontalLine;&HorizontalLine;&HorizontalLine;&HorizontalLine;&HorizontalLine;&HorizontalLine;&HorizontalLine;&HorizontalLine;&HorizontalLine;&HorizontalLine;&HorizontalLine;&HorizontalLine;&HorizontalLine;&HorizontalLine;&HorizontalLine;&#9496;</pre>
      </section>
    </main>
    <%- include("templates/footer.html") %>
  </body>
</html>
