<!doctype html>
<html lang="en">
  <head>
    <%- include("templates/head.html", { title: "Menu Diving WTF | About",
                               description: "About this Website",
                             }) %>
    <link rel="icon" href="<%= root_url %>/favicon.ico" sizes="32x32">
    <link rel="icon" href="<%= root_url %>/images/icons/icon.png" type="image/png">
  </head>
  <body class="ff-sans">
    <header class="purple-700 pt-2 bg-purple-400">
      <div class="mh-auto w-90 w-50-ns flex items-center gap-3 mb-2">
        <h1 class="ma-0 f-6 lh-title tc">Menu Diving WTF</h1>
      </div>
      <%- include("templates/nav.html") %>
    </header>
    <main class="bg-purple-900 purple-100">
      <section class="mh-auto w-90 w-50-ns ff-sans pv-3">
        <h2 class="ma-0 f-5 mt-1 lh-title tc">About</h2>
        <p class="p">
          This site is not affiliated with any synth maker. I just created this instead of having hand-written notes.  I find that my synths are deeper than their front panel would indicate, but some of the coolest features aren't intuitive or easy to use.
        </p>
        <p class="p">
          I also tend to work without a computer around, so reading PDFs on an iPhone just sucks, especially when I can't remember what words a manufacturer uses for something.
        </p>
      </section>
      <section class="mh-auto w-90 w-50-ns ff-sans pv-3">
        <h2 class="ma-0 f-5 mt-1 lh-title tc">How This is Built</h2>
        <p class="p">
          Each synth has a JSON file that describes the various features I tend to forget how to do.  This file also documents useful MIDI CC mappings as well as some notes about odd behavior.
        </p>
        <p class="p">
          These JSON files are then applied to EJS and an HTML template to produce the site.
        </p>
      </section>
      <section class="mh-auto w-90 w-50-ns ff-sans pv-3">
        <h2 class="ma-0 f-5 mt-1 lh-title tc">Who am I?</h2>
        <p class="p">
          I'm Dave Copeland, <a class="purple-300" href="https://ruby.social/@davetron5000">davetron5000</a> in most places.  I'm a programmer, writer, and very amateur musician.
        </p>
        <p class="p">
          Get in touch via Mastodon or via email at <a class="purple-300" href="mailto:davec@naildrivin5.com">davec@naildrivin5.com</a>.
        </p>
      </section>
    </main>
    <%- include("templates/footer.html") %>
  </body>
</html>
