<!doctype html>
<html lang="en">
  <head>
    <%- include("head.html", { title: "Menu Diving WTF Content Attribution",
                               description: "Attribution of Content",
                             }) %>
    <link rel="icon" href="<%= root_url %>/favicon.ico" sizes="32x32">
    <link rel="icon" href="<%= root_url %>/images/icons/icon.png" type="image/png">
    <link rel="apple-touch-icon" href="<%= root_url %>/images/icons/icon-180.png">
    <link rel="manifest" href="<%= root_url %>/manifest.webmanifest">
  </head>
  <body class="ff-sans">
    <header class="purple-700 pt-4 bg-purple-400">
      <div class="mh-auto w-90 w-50-ns flex items-center gap-3">
        <div>
          <h1 class="ma-0 f-6 lh-title tc">Menu Diving WTF</h1>
          <h2 class="ma-0 f-5 mt-1 lh-title tc">Atrribution of Contents</h2>
        </div>
      </div>
      <%- include("nav.html") %>
    </header>
    <main class="bg-white black">
      <section class="mh-auto w-90 w-50-ns ff-sans pv-3">
        <h3 class="f-4">Musical Notes</h3>
        <p class="p">
          Images of musical notes are <a href="https://commons.wikimedia.org/wiki/Category:SVG_musical_notation">from Wikimedia Commons</a>.
        </p>
        <h3 class="f-4">Icons</h3>
        <p class="p">
          These icons are all licensed via the <a href="https://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a> license.  This requires attribution, which you can see below for each icon.
        </p>
        <div class="flex flex-wrap gap-3">
          <% icons.forEach( (icon) => { %>
          <div class="w-100 bt">
            <%- icon %>
          </div>
          <% }) %>
        </div>
      </section>
    </main>
    <footer class="bg-black-ish white-ish pv-4">
      <p class="p mh-auto tc">Everything here is Copyright &copy; 2024 by David Bryant Copeland, Released under the <a class="purple-600" href="https://firstdonoharm.dev/version/2/1/license/">Hippocratic License, v2.1</a>.
        <p class="p mh-auto tc">All of the code and content was created <a class="green-700" href="https://declare-ai.org/1.0.0/none.html">without any assistance from a generative AI</a>.
    </footer>
  </body>
</html>
