<footer class="bg-black-ish white-ish pv-4">
  <section class="w-90 w-50-ns mh-auto">
    <p class="p mh-auto tc">
      Content here is Copyright &copy; 2024 by David Bryant Copeland, All Rights Reserved. Icons are all licensed via the <a class="purple-700" href="https://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a> license.  Attribution for icons can be found <a class="purple-700" href="/attribution.html">on the Attributions page</a>.
    </p>
    <p class="p mh-auto tc">
      Content was created <a class="green-700" href="https://declare-ai.org/1.0.0/none.html">without any assistance from a generative AI</a>.
    </p>
  </section>
</footer>
