<!doctype html>
<html lang="en">
  <head>
    <%- include("head.html", { title: "Menu Diving WTF",
                               description: "Quick Reference for common functions for Synths,  that you can read on a phone",
                             }) %>
  </head>
  <body class="ff-sans">
    <header class="purple-lighter pv-4 bg-purple-dark">
      <div class="mh-auto w-90 w-50-ns flex items-center gap-3">
        <div>
          <h1 class="ma-0 f-6 lh-title tc">Menu Diving WTF</h1>
          <h2 class="ma-0 f-5 mt-1 lh-title tc">A Quick Reference for Synths</h2>
          <p class="p f-3">
            Quickly find out the incantations necessary to unlock the awesome features of your synth that are buried behind encoders, shift keys, and function buttons. Optimized to be read on a phone.
          </p>
          <p class="p">
            Each reference is hand-crafted by me, based on stuff I cannot remember or have to look up frequently.  Features that are easy for me to remember based on the unit's design are not included.
          </p>
        </div>
      </div>
    </header>
    <main class="bg-purple-darkest purple-lightest">
      <section class="mh-auto w-90 w-50-ns ff-sans pv-3">
        <ul>
          <% outputFiles.forEach( (outputFile) => { %>
          <li><p class="p">
              <a class="yellow-light" href="<%= outputFile.relativePath %>"><%= outputFile.synth.name %></a>
          </p></li>
          <% }) %>
        </ul>
      </section>
      <section class="ff-sans pv-3 bg-purple-lightest purple-darkest">
        <div class="mh-auto w-90 w-50-ns">
          <p class="p">
            These are not intended to be exhaustive, nor are they replacements for the manuals.  These are intended to make it easy to remember hidden features and how to access them.  They are also based on my own usage, so for many synths, the sequencer sections are ignored, since I don't use the built-in sequencers on many synths.
          </p>
          <p class="p">
            Some useful hidden functions aren't documented if I don't yet understand how to use them. For example, the modulation options in the Korg Minilogue XD are completely opaque to me.
          </p>
        </div>
      </section>
    </main>
    <footer class="bg-black-ish white-ish pv-4">
      <p class="p mh-auto tc">Everything here is Copyright &copy; 2024 by David Bryant Copeland, Released under the <a class="purple-light" href="https://firstdonoharm.dev/version/2/1/license/">Hippocratic License, v2.1</a>.
        <p class="p mh-auto tc">All of the code and content was created <a class="green-lighter" href="https://declare-ai.org/1.0.0/none.html">without any assistance from a generative AI</a>.
    </footer>
  </body>
</html>
