<!doctype html>
<html lang="en">
  <head>
    <%- include("head.html", { title: "Menu Diving WTF",
                               description: "Quick Reference for common functions for Synths,  that you can read on a phone",
                             }) %>
    <link rel="icon" href="<%= root_url %>/favicon.ico" sizes="32x32">
    <link rel="icon" href="<%= root_url %>/images/icons/icon.png" type="image/png">
    <link rel="apple-touch-icon" href="<%= root_url %>/images/icons/icon-180.png">
    <link rel="manifest" href="<%= root_url %>/manifest.webmanifest">
  </head>
  <body class="ff-sans">
    <header class="purple-700 pt-4 bg-purple-400">
      <div class="mh-auto w-90 w-50-ns flex items-center gap-3">
        <div>
          <h1 class="ma-0 f-6 lh-title tc">Menu Diving WTF</h1>
          <h2 class="ma-0 f-5 mt-1 lh-title tc">A Quick Reference for Synths</h2>
          <p class="p f-3">
            Your synth has amazing features…hidden behind opaque shift functions and byzantine menus. And its manual is a huge PDF wall of text <span role="img" aria-description="crying emoji">😭</span>.
          </p>
          <p class="p">
            These quick references are hand-crafted as reminders of features your synth has and how to get to them.  These aren't manuals—just fast ways to get the sounds you want without breaking you out of your flow paging through a manual.
          </p>
        </div>
      </div>
      <%- include("nav.html") %>
    </header>
    <main class="bg-purple-100 purple-900">
      <section id="synths" class="mh-auto w-90 w-50-ns ff-sans pv-3">
        <h3 class="f-4">Synths</h3>
        <ul class="lst-none pa-0">
          <% outputFiles.forEach( (outputFile) => { %>
          <li><p class="p">
              <a class="yellow-600 flex items-baseline gap-2" href="<%= outputFile.relativePath %>">
                <span class="f-2"><%= outputFile.synth.brand %></span>
                <span class="f-3"><%= outputFile.synth.name %></span>
              </a>
          </p></li>
          <% }) %>
        </ul>
      </section>
      <section class="ff-sans pv-3 bg-purple-900 purple-100">
        <div class="mh-auto w-90 w-50-ns">
          <p class="p">
            These are not intended to be exhaustive, nor are they replacements for the manuals.  These are intended to make it easy to remember hidden features and how to access them.  They are also based on my own usage, so for many synths, the sequencer sections are ignored, since I don't use the built-in sequencers on many synths.
          </p>
          <p class="p">
            Some useful hidden functions aren't documented if I don't yet understand how to use them. For example, the modulation options in the Korg Minilogue XD are completely opaque to me.
          </p>
        </div>
      </section>
    </main>
    <%- include("footer.html") %>
  </body>
</html>
