<details class="bg-yellow-lighest yellow-darker pa-2">
  <summary class="ma-0 f-4 lh-title pv-2">
    <h3 class="f-4 tdu">MIDI Info &amp; CCs</h3>
  </summary>
  <% if (programChange) {  %>
    <p class="f-1 fw-4"><span role="img" aria-label="checkmark">✅</span> Responds to Program Change</p>
  <% } else { %>
    <p class="f-1 fw-4"><span role="img" aria-label="X">❌</span> Does <strong>not</strong> respond to Program Change</p>
  <% } %>
  <% if (Object.entries(cc).length == 0) { %>
    <p class="f-2 fw-4">No notable MIDI CCs</p>
  <% } else { %>
    <table class="collapse w-100">
      <thead>
        <tr>
          <th class="tl fw-8 pa-2 bb w-1 ws-nowrap">Param</th>
          <th class="tl fw-8 pa-2 bb">CC #</th>
        </tr>
      </thead>
      <tbody>
      <% for (const [param,ccNum] of Object.entries(cc)) { %>
      <tr>
        <td class="pa-2 bb w-1 ws-nowrap">
          <%= param %>
        </td>
        <td class="pa-2 bb fw-4 ff-mono">
          <%= ccNum %>
        </td>
      </tr>
      <% }%>
      </tbody>
    </table>
  <% } %>
  <% if (typeof notes !== "undefined") { %>
    <p class="f-2 fw-4"><%- notes %></p>
  <% } %>
</details>
