<!doctype html>
<html lang="en">
  <head>
    <%- include(
      "head.html",
      { 
        title: `Menu Diving | ${ synth.brand } ${ synth.name }`,
        description: `Menu Diving Support for ${ synth.brand } ${synth.name}`,
      }
    ) %>
    <link rel="icon" href="<%= root_url %>/<%= iconPath %>" type="image/png">
    <link rel="manifest" href="<%= root_url %>/<%= manifestPath %>">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
  </head>
  <body class="ff-sans">
    <header class="purple-100 pv-2 bg-purple-800 flex items-center justify-between gap-2">
      <synth-pwa-detection class="pl-2">
        <h1 data-if-not-pwa class="f-3 ma-0 lh-title"><a href="<%= root_url %>/" class="purple-200"><span role="img" aria-description="back arrow">&larr;</span> menudiving.wtf</a></h1>
        <synth-reload>
          <button data-if-pwa class="dn ba br-3 bc-purple-800 bg-purple-900 shadow-1 purple-400">Refresh Content</button>
        </synth-reload>
      </synth-pwa-detection>
      <time class="pr-2 purple-300" datetime="<%= date.toISOString() %>">Published <%= date.toDateString() %></time>
    </header>
    <main>
      <section class="purple-100 bg-white-ish ph-2 pb-2 pt-3 w-100 w-50-ns mh-auto">
        <h3 class="ma-0 f-3 ttu tracked">
          <%= synth.brand %>
        </h3>
        <h2 class="ma-0 f-5 lh-title">
            <%= synth.name %>
        </h2>
        <div class="flex items-center justify-between gap-3">
        <% if (synth.firmware) { %>
        <p class="p f-2 purple-300">
          <span role="image" aria-description="floppy disk">💾</span>
          Firmware <%= synth.firmware %>
        </p>
        <% } %>
        <% if (synth.manualLink) { %>
        <p class="p f-2">
          <a class="purple-200 mt-3 tdn" href="<%= synth.manualLink %>">
            <span role="img" aria-description="open book">📖</span>
            <span class="tdu">Official Manual</span>
          </a>
        </p>
        <% } %>
        </div>
        <synth-homescreen-notification>
          <aside class="ba bc-orange-400 bg-orange-900 br-3 pa-3 mt-3 mb-2 orange-300 f-3 flex items-end justify-between">
            <div class="flex items-center justify-start gap-2">
              <span role="img" aria-description="light bulb">💡</span>
              <p class="p pa-0 ma-0">
                Add this page to your phone's homescreen for better access.  <a class="orange-300" href="<%= root_url %>/how-to-use.html">Learn how</a>
              </p>
            </div>
            <button class="db ba pointer bc-orange-700 br-2 bg-orange-800 orange-400 f-1 shadow-1">Dismiss</button>
          </aside>
        </synth-homescreen-notification>
      </section>
      <section class="mh-auto w-100 w-50-ns ff-sans mh-2">
        <h3 class="sr-only">Features</h3>
        <% Object.entries(synth.features).sort( (a,b) => a[0].localeCompare(b[0]) ).forEach( ([featureName,feature]) => { %>
          <details class="feature-doc pa-2">
            <summary class="ma-0 f-4 pv-2 lh-title">
              <h4 class="f-4 fw-4"><%= featureName %></h4>
            </summary>
            <ol>
              <% feature.steps.forEach( (step) => { %>
                <li>
                  <% if (step.step) { %>
                    <p class="p"><%- step.step %></p>
                    <table class="collapse w-100">
                      <thead>
                        <tr>
                          <% step.details[0].forEach( (header) => { %>
                            <th class="tl pa-2 bb bw-1"><%- header %></th>
                          <% }) %>
                        </tr>
                      </thead>
                      <tbody>
                        <% step.details.slice(1).forEach( (row) => { %>
                          <tr>
                            <% row.forEach( (cell, index, array) => { %>
                              <td class="pa-2 bb <%= index != array.length-1 ? 'w-1 ws-nowrap' : '' %>">
                                <%- cell %>
                              </td>
                            <% }) %>
                          </tr>
                        <% }) %>
                      </tbody>
                    </table>
                  <% } else { %>
                    <p class="p">
                      <%- step %>
                    </p>
                  <% } %>
                </li>
              <% }) %>
            </ol>
            <% if (typeof feature.notes !== "undefined") { %>
            <p class="f-1 i measure-wide ph-3"><%- feature.notes %></p>
            <% } %>
          </details>
        <% }) %>
      </section>
      <section class="mh-auto w-100 w-50-ns ff-sans mh-2">
        <% if (synth.notes) { %>
          <details class="bg-purple-300 purple-900 pa-2">
            <summary class="ma-0 f-4 pv-2 lh-title">
              <h3 class="f-3 fw-4">Notes and Non-Obvious Behaviors</h3>
            </summary>
            <ul>
              <% synth.notes.forEach( (note) => { %>
                <li>
                    <p class="p">
                      <%- note %>
                    </p>
                </li>
              <% })%>
            </ul>
          </details>
        <% } %>
        <details class="bg-purple-700 purple-300 pa-2">
          <summary class="ma-0 f-4 lh-title pv-2">
            <h3 class="f-3 fw-4">MIDI Info &amp; CCs</h3>
          </summary>
          <% if (synth.midi.programChange) {  %>
            <p class="f-1 fw-4"><span role="img" aria-label="checkmark">✅</span> Responds to Program Change</p>
          <% } else { %>
            <p class="f-1 fw-4"><span role="img" aria-label="X">❌</span> Does <strong>not</strong> respond to Program Change</p>
          <% } %>
          <% if (Object.entries(synth.midi.cc).length == 0) { %>
            <p class="f-2 fw-4">No notable MIDI CCs</p>
          <% } else { %>
            <table class="collapse w-100">
              <thead>
                <tr>
                  <th class="tl fw-8 pa-2 bb w-1 ws-nowrap">Param</th>
                  <th class="tl fw-8 pa-2 bb">CC #</th>
                </tr>
              </thead>
              <tbody>
              <% for (const [param,ccNum] of Object.entries(synth.midi.cc)) { %>
              <tr>
                <td class="pa-2 bb w-1 ws-nowrap">
                  <%= param %>
                </td>
                <td class="pa-2 bb fw-4 ff-mono">
                  <%= ccNum %>
                </td>
              </tr>
              <% }%>
              </tbody>
            </table>
          <% } %>
          <% if (typeof synth.midi.notes !== "undefined") { %>
            <p class="f-2 fw-4"><%- synth.midi.notes %></p>
          <% } %>
        </details>
      </section>
    </main>
    <%- include("footer.html") %>
  </body>
</html>
