@import "melange-css/melange.css";

:root {
  --mg-ff-sans: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
  --mg-ff-mono: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}

details summary {
  cursor: pointer;
  list-style:none;
}
summary::-webkit-details-marker {
 display: none;
}
details summary > * {
  display: inline;
}

synth-button {
  border: solid thin;
  display: inline-block;
  padding-top: calc(0.5 * var(--mg-sp-1));
  padding-bottom: calc(0.5 * var(--mg-sp-1));
  padding-left:  var(--mg-sp-1);
  padding-right: var(--mg-sp-1);
  letter-spacing: var(--mg-ls-tight);
  text-transform: uppercase;
  font-weight: 600;
  border-radius: var(--mg-bw-1);
  min-width:  var(--mg-sp-5);
  text-align: center;
  background-color: rgba(255,255,255,0.15);
}
synth-button[narrow] {
  min-width:  var(--mg-sp-3);
}

details.feature-doc:nth-child(even) {
  background-color: var(--mg-purple-300);
  color: var(--mg-purple-700)
}
details.feature-doc:nth-child(odd) {
  background-color: var(--mg-purple-100);
  color: var(--mg-purple-700)
}

synth-knob {
  border: solid thin;
  display: inline-block;
  padding-left: var(--mg-sp-1);
  padding-right: var(--mg-sp-1);
  padding-top: calc(0.5 * var(--mg-sp-1));
  padding-bottom: calc(0.5 * var(--mg-sp-1));
  text-transform: lowercase;
  letter-spacing: var(--mg-ls);
  font-weight: 600;
  border-radius: var(--mg-bw-5);
  background-color: rgba(255,255,255,0.15);
}

synth-switch {
  border: dotted thin;
  display: inline-block;
  padding: var(--mg-sp-1);
  text-transform: uppercase;
  letter-spacing: var(--mg-ls-tracked);
  font-weight: 600;
  border-top-left-radius: var(--mg-bw-3);
  border-bottom-right-radius: var(--mg-bw-3);
  background-color: rgba(255,255,255,0.15);
}

synth-led {
  width: var(--mg-sp-3);
  height: var(--mg-sp-3);
  border: solid thin var(--mg-yellow-700);
  border-radius: 100%;
  background-color: var(--mg-yellow-100);
  display: inline-block;
  margin-left: var(--mg-sp-1);
  margin-right: var(--mg-sp-1);
}

synth-led[lit] {
  background-color: var(--mg-yellow-700);
}

button.shadow-1:active {
  box-shadow: none;
  transform: translate(1px,1px);
}
